<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accountIdentifier</key>
	<string>B2C_Acccount</string>
	<key>clientID</key>
	<string>77f86a11-6555-4aa0-8a4d-dff8db9ddd8f</string>
	<key>clientSecret</key>
	<string></string>
	<key>authURL</key>
	<string>https://login.microsoftonline.com//isasample.site/oauth2/v2.0/authorize?p=B2C_1_Default</string>
	<key>loginURL</key>
	<string>https://login.microsoftonline.com/isasample.site/login</string>
	<key>bhh</key>
	<string>urn:ietf:wg:oauth:2.0:oob</string>
	<key>tokenURL</key>
	<string>https://login.microsoftonline.com/isasample.site/oauth2/v2.0/token?p=B2C_1_Default</string>
	<key>keychain</key>
	<string>com.microsoft.azureactivedirectory.samples.graph.QuickStart</string>
	<key>contentType</key>
	<string>application/x-www-form-urlencoded</string>
	<key>taskAPI</key>
	<string>http://localhost:3000</string>
	<key>kIDMOAuth2SuccessPagePrefix</key>
	<string>session_state=</string>
</dict>
</plist>
