<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>accountIdentifier</key>
        <string>B2C_Acccount</string>
        <key>clientID</key>
        <string><client ID></string>
            <key>clientSecret</key>
            <string></string>
            <key>authURL</key>
            <string>https://login.microsoftonline.com/<tenant name>/oauth2/v2.0/authorize?p=<policy name></string>
                <key>loginURL</key>
                <string>https://login.microsoftonline.com/<tenant name>/login</string>
                    <key>bhh</key>
                    <string>urn:ietf:wg:oauth:2.0:oob</string>
                    <key>tokenURL</key>
                    <string>https://login.microsoftonline.com/<tenant name>/oauth2/v2.0/token?p=<policy name></string>
                        <key>keychain</key>
                        <string>com.microsoft.azureactivedirectory.samples.graph.QuickStart</string>
                        <key>contentType</key>
                        <string>application/x-www-form-urlencoded</string>
                        <key>taskAPI</key>
                        <string>https://aadb2cplayground.azurewebsites.net</string>
                    </dict>
                    </plist>